/* ========================================
 * Global style
 * ======================================== */

.content-wrapper {
    padding: 10px;
    height: 100%;
}

.grid-2 {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: 1fr 2fr;
    row-gap: 10px;
}

.left-btns {
    padding: 0 0 0 10px;
}

.gadget-title button.btn {
    padding: 0 10px;
    font-size: 17px;
    text-transform: uppercase;
}

/* ========================================
 * Directory Selection Input Style
 * ======================================== */

.input-dir {
    display: flex;
    flex-direction: column;
}

.input-dir .btn {
    margin: 0 0 .5em auto;
}

.input-dir p {
    padding: .5em;
    border: 1px solid grey;
    border-radius: 5px;
    min-height: 2.5em;
    overflow-wrap: break-word;
}

/* ========================================
 * Shiny Input Style Customised
 * ======================================== */

 .gadget-container .shiny-input-container {
     width: 100%;
 }

/* ========================================
 * Console Output Style
 * ======================================== */

.console {
    grid-column: span 2;
}

/* ========================================
 * ShinyFiles Style Customised
 * ======================================== */

.sF-dirWindow .sF-dirInfo > div {
    height: 25vh;
}

/* ========================================
 * Custom icon only button
 * ======================================== */

.icon-btn {
    border: none;
    background: none;
    padding: 0 !important;
    margin: 0 0 10px !important;
    height: max-content !important;
    line-height: 0;
    color: #ee1c00;
}

.icon-btn:hover,
.icon-btn:focus,
.icon-btn:active {
    color: #1866c0;
    background: none;
}

/* ========================================
 * Modal help table
 * ======================================== */


.help-table th {
    vertical-align: top;
    white-space: nowrap;
}

.help-table td span {
    display: block;
    text-align: justify;
}

.help-table td span.no-justify {
    text-align: left;
}

.help-table th, .help-table td {
    padding: 1.5em 1em;
}

.help-table tr {
    border-bottom: 1px solid #1866c0;
}

.help-table tr:first-child th,
.help-table tr:first-child td {
    padding-top: 0;
}

.help-table tr:last-child {
    border: none;
}
